<ul>
  <li>  <a href="Home"> Home </a> </li>
  <li>  <a href="<%= pages_About_path%>"> About </a> </li>
  <li>  <%= link_to 'Lottery', lottery_path %>  </li>
  <%= nav_li 'Form', pages_form_path %>
</ul>